h1

<div class="container">
<%= simple_form_for(@user) do |f| %>

  <%= f.input :instrument, as: :string, html5: true %>
  <%= f.input :age_min %>
  <%= f.input :age_max %>
  <%= f.input :gender, as: :string, html5: true %>
  <%= f.input :years_of_experience_min %>
  <%= f.input :weekly_rehearsal_frequency_min %>
  <%= f.input :location, as: :string, html5: true %>
  <%= f.input :location_radius_in_km %>
  <%= f.input :music_style, as: :string, html5: true %>
  <%= f.submit class: "btn btn-flat-green", data: {confirm: "Are you sure about updating your preferences ?"}%>
<% end %>

</div>