<div class="container">
  <% @messages.each do |message| %>
    <% if message.author == current_user %>
      <div class="my-message">
        <span>Vous</span>
        <p><%= message.content %></p>
      </div>
    <% else %>
      <div class="other-message">
      <span><%= @conversation.user2.first_name %></span>
        <p><%= message.content %></p>
      </div>
    <% end %>
  <% end %>
<%= simple_form_for [ @conversation, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Nouveau Message" %>
  <%= f.submit %>
<% end %>
</div>
