<div class="container">
  <div class="messages-container">
    <% other_user = @conversation.other_user_than(current_user) %>
    <% @messages.each do |message| %>
      <% if message.author == current_user %>
        <div class="my-message-container">
          <div class="my-message">
            <span>Vous</span>
            <p><%= message.content %></p>
          </div>
        </div>
      <% else %>
        <div class="other-message-container">
          <div class="other-message">
          <span><%= other_user.first_name %></span>
            <p><%= message.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= simple_form_for [ @conversation, @message ] do |f| %>
      <%= f.input :content, label: false, placeholder: "Nouveau Message" %>
      <div class="sub">
        <%= f.submit value: "Envoyer" %>
      </div>
    <% end %>
  </div>
</div>
