<link rel="stylesheet" href="./vanillaSelectBox.css">
<script src="./vanillaSelectBox.js"></script>

<% if user_signed_in? %>

 <div class="container">
    <%= form_tag(musicians_path, method: :get) do %>
      <%= search_field_tag 'location', 'Ville' %>
      <%= search_field_tag 'gender', 'Genre' %>
      <%= select_tag "instrument", raw("<option>Guitare</option><option>Chant</option><option>Batterie</option><option>Basse</option><option>Piano</option><option>Violon</option><option>DJ</option><option>Flute</option><option>Trompette</option><option>Saxophone</option><option>Ukulele</option>") %>
      <%= search_field_tag 'years_of_exp_min', 'Experience' %>
      <%= search_field_tag 'location_radius_in_km', 'Autour de moi' %>
      <%= search_field_tag 'age_min', 'Age Min' %>
      <%= search_field_tag 'age_min', 'Age Max' %>
      <form id="app-cover">
      <div id="select-box">
              <input type="checkbox" id="options-view-button">
              <div id="select-button" class="brd">
                      <div id="selected-value">
                          <span>Select a platform</span>
                      </div>
                      <div id="chevrons">
                              <i class="fas fa-chevron-up"></i>
                              <i class="fas fa-chevron-down"></i>
                      </div>
              </div>
              <div id="options">
                      <div class="option">
                              <input class="s-c top" type="radio" name="platform" value="codepen">
                              <input class="s-c bottom" type="radio" name="platform" value="codepen">
                              <i class="fab fa-codepen"></i>
                              <span class="label">CodePen</span>
                              <span class="opt-val">CodePen</span>
                      </div>
                      <div class="option">
                              <input class="s-c top" type="radio" name="platform" value="dribbble">
                              <input class="s-c bottom" type="radio" name="platform" value="dribbble">
                              <i class="fab fa-dribbble"></i>
                              <span class="label">Dribbble</span>
                              <span class="opt-val">Dribbble</span>
                      </div>
      <%= select_tag 'music_style', raw("<option>Rock</option><option>Jazz</option><option>Pop</option><option>House</option><option>Classique</option><option>Folk<option>Funk</option><option>Blues</option><option>Electro</option>") %>
    <% end %>
  </div>
<% end %>
  
<% if !user_signed_in? %>
<br>
<div class="container justify-content-center">
  <h2>Comment ça marche ?</h2>
</div>
<div class="container justify-content-center">
    <div class="box-picto">
      <div>
        <div>
        <%= image_tag "picto-people-search.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Renseignez vos critères</p>
        </div>
        <div>
          <p class="picto-text">Style musical, ville, expérience, recherchez avec vos critères précis.</p>
        </div>
      </div>
    </div>
    <div class="box-picto">
      <div>
        <div>
        <%= image_tag "picto-match.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Trouvez le meilleur match</p>
        </div>
        <div>
          <p class="picto-text">L''algoritme BandMatch trouve les meilleurs matchs pour vous</p>
        </div>
      </div>
    </div>
    <div class="box-picto">
      <div>
        <div>
        <%= image_tag "picto-play-music.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Jouez ensemble !</p>
        </div>
        <div>
          <p class="picto-text">Contactez le groupe ou le musicien qui vous intéresse et jouez ensemble.</p>
        </div>
      </div>
    </div>
</div>
<br>

<div class="background-testimonials">
  <br>
  <div class="container justify-content-center">
    <h2>Ils témoignent</h2>
  </div>
  <br>
  <br>
  <div class="container justify-content-center flex-column width-850px">



   <div class="card-testimonial">
    <div class="card-testimonial-content">
      <!-- <div class="card-testimonial-content-img"> -->
      <div>
        <%= image_tag "john-mayer.jpg", class: "card-testimonial-content-img" %>
      </div>

      <div class="card-testimonial-content-text">
        <h3>John Yamer</h3>
        <p>" J'ai trouvé le groupe de mes rêves grâce à BandMatch. Le groupe correspondait exactement à ce que je recherhais sur Nantes. Allez-y ! "</p>
      </div>
    </div>
  </div>

   <div class="card-testimonial-right">
    <div class="card-testimonial-content">


      <div class="card-testimonial-content-text-right">
        <h3>Alicia Seky</h3>
        <p>" J'ai trouvé le groupe de mes rêves grâce à BandMatch. Le groupe correspondait exactement à ce que je recherhais sur Nantes. Allez-y ! "</p>
      </div>
      <div>
        <%= image_tag "alicia-2.jpg", class: "card-testimonial-content-img" %>
      </div>
    </div>
  </div>

       <div class="card-testimonial">
    <div class="card-testimonial-content">
      <div>
        <%= image_tag "mick.jpg", class: "card-testimonial-content-img" %>
      </div>
      <div class="card-testimonial-content-text">
        <h3>Mick Ggajer</h3>
        <p>" Après des années à jouer avec mes frères je voulais changer. Je pense que le cd de notre nouveau groupe est le prochain dans le top 5. "</p>
      </div>
    </div>
  </div>

  </div>
</div>
<% end %>
