<% if user_signed_in? %>

  <div class="container home">
    <%= simple_form_for current_user.default_preferences do |f| %>
      <div>
        <h4 class="center mb-5 mt-0">Recherche d'un musicien</h4>
      </div>
      <div class="d-flex band-location">
        <div class="loca col-6 p-0 pr-2">
          <%= f.input :location, label: 'Lieu' %>
        </div>
        <div class="loca-rad col-6 p-0 pl-2">
          <%= f.input :location_radius_in_km, collection: 0..100, label: 'Rayon (km)' %>
        </div>
      </div>
      <div class="user-age d-flex">
        <div class="min-age col-6 p-0 pr-2">
          <%= f.input :age_min, collection: 18..77, label: 'Age minimum', selected: 20 %>
        </div>
        <div class="max-age col-6 p-0 pl-2">
          <%= f.input :age_max, collection: 18..77, label: 'Age maximum', selected: 30 %>
        </div>
      </div>
      <div class="expe-and-repet d-flex" >
          <div class="expe col-6 p-0 pl-2">
            <%= f.input :years_of_experience_min, label: 'Expérience minimum', collection: 0..30, selected: 5 %>
          </div>
          <div class="repet col-6 p-0 pl-2">
            <%= f.input :weekly_rehearsal_min, label: 'Répétitions hebdo', collection: 0..5, selected: 3 %>
          </div>
      </div>
      <div class="instrum-style d-flex">
        <div class="instrum col-4 p-0 pl-2">
          <%= f.input :instrument, as: :radio_buttons, label: false, item_wrapper_class: 'intruments-checkbox', collection: ['guitare', 'chant', 'batterie', 'basse', 'piano', 'violon'], label_method: lambda { |instrument| ActionController::Base.new.render_to_string(partial: "pages/instrument_label", locals: { instrument: instrument }) } %>
        </div>
        <div class="style col-4 p-0 pl-2">
          <%= f.input :music_style, as: :check_boxes, label: 'Style', collection: ['rock', 'jazz', 'pop', 'classique', 'funk', 'folk'] %>
        </div>
        <div class="sexe">
          <%= f.input :gender, as: :check_boxes, label: 'Genre', collection: [['Femme', 'Femme'], ['Homme', 'Homme']], label_method: :second, value_method: :first %>
        </div>
      </div>
      <br>
      <div class="submit-butt">
        <%= f.button :submit, "Rechercher un musicien", class: "primary-orange-btn-searchform" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if !user_signed_in? %>
  <br>
  <div class="container justify-content-center">
    <h2>Comment ça marche ?</h2>
  </div>
  <div class="container justify-content-center">
    <div class="box-picto">
      <div>
        <div>
        <%= image_tag "picto-people-search.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Renseignez vos critères</p>
        </div>
        <div>
          <p class="picto-text">Style musical, ville, expérience, recherchez avec vos critères précis.</p>
        </div>
      </div>
    </div>
    <div class="box-picto">
      <div>
        <div>
          <%= image_tag "picto-match.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Trouvez le meilleur match</p>
        </div>
        <div>
          <p class="picto-text">L''algoritme BandMatch trouve les meilleurs matchs pour vous</p>
        </div>
      </div>
    </div>
    <div class="box-picto">
      <div>
        <div>
          <%= image_tag "picto-play-music.svg", class: "picto-img" %>
        </div>
        <div>
          <p class="picto-title">Jouez ensemble !</p>
        </div>
        <div>
          <p class="picto-text">Contactez le groupe ou le musicien qui vous intéresse et jouez ensemble.</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="background-testimonials">
    <br>
    <div class="container justify-content-center">
      <h2>Ils témoignent</h2>
    </div>
    <br>
    <br>
    <div class="container justify-content-center flex-column width-850px">
      <div class="card-testimonial">
        <div class="card-testimonial-content">
          <!-- <div class="card-testimonial-content-img"> -->
          <div>
            <%= image_tag "john-mayer.jpg", class: "card-testimonial-content-img" %>
          </div>

          <div class="card-testimonial-content-text">
            <h3>John Yamer</h3>
            <p>" J'ai trouvé le groupe de mes rêves grâce à BandMatch. Le groupe correspondait exactement à ce que je recherhais sur Nantes. Allez-y ! "</p>
          </div>
        </div>
      </div>

      <div class="card-testimonial-right">
        <div class="card-testimonial-content">
          <div class="card-testimonial-content-text-right">
            <h3>Alicia Seky</h3>
            <p>" J'ai trouvé le groupe de mes rêves grâce à BandMatch. Le groupe correspondait exactement à ce que je recherhais sur Nantes. Allez-y ! "</p>
          </div>
          <div>
            <%= image_tag "alicia-2.jpg", class: "card-testimonial-content-img" %>
          </div>
        </div>
      </div>

      <div class="card-testimonial">
        <div class="card-testimonial-content">
          <div>
            <%= image_tag "mick.jpg", class: "card-testimonial-content-img" %>
          </div>
        <div class="card-testimonial-content-text">
          <h3>Mick Ggajer</h3>
          <p>" Après des années à jouer avec mes frères je voulais changer. Je pense que le cd de notre nouveau groupe est le prochain dans le top 5. "</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
