<div class="container-band">
  <h1 class="center band-name"> <%= @band.name  %> </h1>

  <div class="container">
  <div class="background-card-show-band">
    <!-- intérieur de la card show band -->
    <div class="background-card-show-content">
      <!-- colonne 1 (logo et membres) -->

      <div class="col1">
        <!-- le logo  -->
        <div class="first-infos">
          <div class="box-logo">
            <%= cl_image_tag @band.avatar.key, height: 300, width: 400, crop: :fill, class: "band-logo-band" %>
          </div>
          <!-- le style du groupe  -->
          <div class="box-style">
            <i class="fas fa-music mr-3"></i><strong><%= @band.music_style.capitalize %></strong>
          </div>
        </div>
        <!-- les membres du groupe  -->
        <div class="box-members">
          <hr class="mb-3">
          <div class="one-member">
            <% @band.users.each do |user| %>
            <div class="one-member-pic">
              <%= cl_image_tag user.avatar.key, height: 300, width: 400, crop: :fill, class: "one-member-pic" %>
            </div>
           <!--  <div class="one-member-name">
              <p> <%= user.first_name %> </p>

            </div> -->
            <% end %>
          </div>
        </div>
      </div>
        <!-- colonne 2 (bio du band) -->
      <div class="col2">
        <div class="mb-5">
          <i class="fas fa-quote-left fa-lg"></i>
          <p class="mb-0">Chez Overmist, on joue surtout du rock (U2, Nirvana, RHCP, etc). Marc (guitariste), Nicolas (batteur) et Marion (chanteuse), recherchons tous les trois un bassiste pour compléter notre groupe. On ne se prend pas la tête, le principal c'est de passer de bons moments, venez essayer une répèt avec nous ! </p>
          <div class="end-quote d-flex justify-content-end">
            <i class="fas fa-quote-right fa-lg quote-right"></i>
          </div>
        </div>
        <div class="contact-btn">
          <%= link_to "Nous contacter", conversations_path, class: "primary-orange-btn contact-us" %>
        </div>
      </div>
      <!-- ci-dessous FIN background-card-show-content -->
      </div>
    <!-- ci-dessous FIN background-card-show -->
    </div>

    <div class="center group-img">
      <%= image_tag "pic-overmist.jpg", class: "pic-band center" %>
    </div>

    <div class="container follow-card justify-content-center px-0">
      <div class="background-card-soundcloud-band ">
        <div class="background-card-show-content">
          <div class="soundcloud-logo">
            <%= link_to "https://soundcloud.com/" do %>
              <%= image_tag "soundcloud.svg", class: "soundcloud" %>
            <% end %>
          </div>
          <div class="soundclound-text">
            <p><strong>Suivez-nous</strong> sur Soundclound !</p>
          </div>
        </div>


    </div>
  </div>


<!-- fin du container général de la page -->
</div>
</div>
