<div class="container-band">
  <h1 class="center"> <%= @band.name  %> </h1>

  <div class="container">
  <div class="background-card-show-band">
    <!-- intérieur de la card show band -->
    <div class="background-card-show-content">
      <!-- colonne 1 (logo et membres) -->

      <div class="col1">
        <!-- le logo  -->
        <div class="box-logo">
          <%= cl_image_tag @band.avatar.key, height: 300, width: 400, crop: :fill, class: "band-logo" %>
        </div>
        <!-- le style du groupe  -->
        <div class=center> <i class="fas fa-music"></i> <%= @band.music_style.capitalize %> </div>
        <!-- les membres du groupe  -->
        <div class="box-members">
            <div class="one-member">
              <% @band.users.each do |user| %>
              <div class="one-member-pic">
                <%= cl_image_tag user.avatar.key, height: 300, width: 400, crop: :fill, class: "one-member-pic" %>
              </div>
              <div class="one-member-name">
                <p> <%= user.first_name %> </p>

              </div>
              <% end %>
            </div>
          </div>
      </div>
        <!-- colonne 2 (bio du band) -->
      <div class="col2">
        <i class="fas fa-quote-left"></i>
        <p> Chez Overmist, on joue surtout du rock (U2, Nirvana, RHCP, etc). Marc (guitariste), Nicolas (batteur) et Marion (chanteuse), recherchons tous les trois un bassiste pour compléter notre groupe. </p>
        <i class="fas fa-quote-right quote-right"></i>
      </div>




        <!-- colonne 3 (matching score) -->
      <!-- <div class="col3"> -->


 <!--        </div> -->
      </div>

      <!-- ci-dessous FIN background-card-show-content -->
      </div>

      <div>
        <div class="contact-btn">
          <%= link_to "Nous contacter", conversations_path, class: "primary-orange-btn" %>
        </div>
      </div>

    <!-- ci-dessous FIN background-card-show -->
    </div>

    <div class="container justify-content-center">
      <div class="background-card-soundcloud ">
        <div class="background-card-show-content">
          <div class="soundcloud-logo">
            <%= link_to "https://soundcloud.com/" do %>
              <%= image_tag "soundcloud.svg", class: "soundcloud" %>
            <% end %>
          </div>
          <div class="soundclound-text">
            <p><strong>Suivez-nous</strong> sur Soundclound !</p>
          </div>
        </div>


    </div>
  </div>


<!-- fin du container général de la page -->
</div>
</div>
